* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box;*/
}

body {
  background-color: rgb(232, 222, 89);
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 35px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}
p {
  margin-bottom: 20px;
}

.first {
  color: red;
}

#your-name {
  background-color: rgb(233, 196, 10);
  border: 5px solid #444;
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}

input,
button {
  padding: 10px;
  font-size: 15px;
}

a {
  background-color: yellowgreen;
}

#Course-name {
  /*width: 100px;*/
  height: 500px;
}

#your-name h2 {
  color: olive;
}
